.mainContainer {
  position: relative;
}
.backgroundimg {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 33%;
}
/*grid areas */
.weatherGrid {
  grid-area: weatherGrid;
}
.tempHumdGrid {
  grid-area: tempHumdGrid;
}
.environmentMonGrid {
  grid-area: environmentMonGrid;
}
.batteryGrid {
  grid-area: batteryGrid;
}
.lightingCtrlGrid {
  grid-area: lightingCtrlGrid;
}
.hvacCtrlGrid {
  grid-area: hvacCtrlGrid;
}
.smartMeterGrid {
  grid-area: smartMeterGrid;
}
.tempHumdChartGrid {
  grid-area: tempHumdChartGrid;
}
.energyUsageChartGrid {
  grid-area: energyUsageChartGrid;
}
#content {
  display: grid;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(300px, auto);
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 10px;
  margin: 10px;
  grid-template-areas:
    "weatherGrid weatherGrid tempHumdGrid tempHumdGrid environmentMonGrid environmentMonGrid batteryGrid batteryGrid"
    "lightingCtrlGrid lightingCtrlGrid hvacCtrlGrid hvacCtrlGrid smartMeterGrid smartMeterGrid smartMeterGrid smartMeterGrid"
    "tempHumdChartGrid tempHumdChartGrid tempHumdChartGrid tempHumdChartGrid energyUsageChartGrid energyUsageChartGrid energyUsageChartGrid energyUsageChartGrid";
}
#content > div {
  background-color: white;
  color: #727272;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 770px) {
  #content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "weatherGrid weatherGrid tempHumdGrid tempHumdGrid"
      "environmentMonGrid environmentMonGrid batteryGrid batteryGrid"
      "lightingCtrlGrid lightingCtrlGrid hvacCtrlGrid hvacCtrlGrid"
      "smartMeterGrid smartMeterGrid smartMeterGrid smartMeterGrid"
      "tempHumdChartGrid tempHumdChartGrid tempHumdChartGrid tempHumdChartGrid"
      "energyUsageChartGrid energyUsageChartGrid energyUsageChartGrid energyUsageChartGrid";
  }
}
@media only screen and (max-width: 500px) {
  #content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "weatherGrid"
      "tempHumdGrid"
      "environmentMonGrid"
      "batteryGrid"
      "lightingCtrlGrid"
      "hvacCtrlGrid"
      "smartMeterGrid"
      "tempHumdChartGrid"
      "energyUsageChartGrid";
  }
}

.weatherTitle {
  line-height: 20px;
}
.currentWeather {
  text-align: center;
}
.editLocation {
  width: 10px;
  opacity: 0.6;
  position: relative;
  top: -2px;
}
.editButton {
  background-color: transparent;
  border: none;
  position: absolute;
}
.currentWeatherPng {
  width: 120px;
  color: #27a4ff;
}
#currentWeatherTemp {
  font-size: 20px;
  margin-bottom: 5px;
}
.table {
  color: #727272;
  margin-bottom: 0px;
}
.forecastPng {
  width: 100%;
}
